.header{
    position: fixed;
    top:0;
    width: 100%;
    height: 1000px;
    border: 2px solid black;
    background-color:burlywood;
    height: auto;
    
}
.header-title{
    color: white;
    font-size: 2rem;
}